@font-face {
  font-family: Catamaran;
  src: url('../font/Catamaran-Regular.ttf');
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #293a5c;
  font-family: Catamaran,sans-serif;
  font-weight: 700;
}

.color000000 {
  color: #000000;
}

.color5D2EBE {
  color:#5D2EBE;
}

.colorFF57A4 {
  color:#ff57a4;
}

.bgColorFF57A4 {
  background-color: #FF57A4;
}

.bgColor5D2EBE {
  background-color: #5D2EBE;
}


body {
  font-family:Catamaran,sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.screepho-header {
  position: relative;
  padding: 15px 0;
  background: #f5faff;
  overflow: hidden;
}

ul.header-contact-ul, ul.header-social-ul, ul.navbar-screepho-ul {
  list-style: none;
  padding:0;
  margin:0;
  display: inline-block;
}

ul.header-contact-ul li, ul.header-social-ul li, ul.navbar-screepho-ul li {
  display:inline-block;
  position: relative;
  font-size: 15px;
  margin-right: 20px;
  font-weight: 500;
}

ul.navbar-screepho-ul li {
  padding: 10px 0px
}

ul.navbar-screepho-ul li a {
  font-size:18px;
  color:#FFFFFF;
}

ul.header-contact-ul li a i {
  position: relative;
  top: 2px;
  margin-right: 5px;
  font-size: 16px;
  color: #5D2EBE;
}

ul.header-contact-ul li a i:before {
  font-weight: 700 !important;
}

.header-content-right {
  text-align: end;
}

.navbar-area {
  position: relative;
  padding: 0;
}

.main-nav {
  padding: 15px 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: auto;
}

.screepho-banner {
  position: relative;
  background: url("../img/home-bg.png");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 800px;
}

.sub-pages li {
  margin:0 !important;
  padding: 5px 0px !important;
  width: 100%;
}

.sub-pages li:hover {
  background-color: #5D2EBE;
  color:#FFFFFF !important;
}

.sub-pages li a:hover {
  color:#FFFFFF !important;
}

.sub-pages li a {
  color:#000000 !important;
  font-size:16px !important;
  padding:0px 5px !important;
}

.screepho-banner .banner-img {
  -webkit-animation: pulse 7s infinite;
  animation: pulse 7s infinite;
  position: absolute;
  top:100px;
}


.screepho-banner .banner-content {
  max-width: 540px;
  margin-left: auto;
  margin-top: 30px;
}

.banner-content h1 {
  font-size: 55px;
  color: #fff;
  margin: 0 0 30px;
}

.banner-content p {
  color: #fff;
  padding-right: 0;
}

.banner-content .banner-btn {
  margin-top: 45px;
}

.banner-content .banner-btn .box-btn {
  margin-right: 20px;
}

.box-btn, .box-btn:before {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.intro-section {
    width: 100%;
    height: 100%;
}

.intro-section {
  display: table!important;
}

.d-table-cell {
  vertical-align: middle;
  display: table-cell!important;
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
